a {
    text-decoration: none;
    color: inherit;
}

.header_container {
    max-width: 1440px;
    width: 100%;
    padding: 10px 5px 0 5px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: black;
}

/* hamburger menu */

.menu_hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_hamburger_span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 1px;
}

.menu_hamburger_active:nth-child(1) {
    transform: rotate( 45deg) translate(10px, 10px);
    transition: all 1s ease;
}

.menu_hamburger_active:nth-child(2) {
    display: none;
}

.menu_hamburger_active:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 1s ease;
}

/* modal menu */

.menu_marker {
    position: absolute;
    z-index: -1;
    width: 70%;
    height: 50px;
    left: 41px;
    background-color: rgba(0, 217, 255, 0.288);
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 31px -2px rgb(0, 0, 0) inset;
    transition: all 0.5s ease;
}

.menu {
    max-width: 293px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 58px;
    left: 15px;
    z-index: 1;
    transform: translateY(-160px) scaleY(0);
    cursor: pointer;
    border: 4px solid white;
    box-shadow: 0px 0px 31px -2px rgb(0 255 191) inset;
    list-style-type: none;
    opacity: 0;
}

.menu_active {
    background-color: rgba(0, 0, 0, 0.877);
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.1em;
    padding: 12px 58px 18px 58px;
    transform: translateY(0px) scaleY(1);
    border-radius: 10px;
    border: 4px solid white;
    opacity: 1;
    transition: transform 1s ease;
}

.menu__list {
    width: 0;
    height: 0;
    opacity: 0;
    color: rgb(251, 255, 218);
    text-shadow: 1px 0 1px rgb(0, 255, 255), 0 1px 1px rgb(0, 255, 255), -1px 0 1px rgb(0, 255, 255), 0 -1px 1px rgb(0, 255, 255);
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.877);
    border-radius: 10px;
    box-shadow: 0px 0px 31px -2px rgb(0 255 191) inset;
    transition: all 0.4s ease;
}

.menu__list_active {
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    left: 26px;
    top: 64px;
    box-shadow: 0px 0px 31px -2px rgb(0 255 191) inset;
    background-color: rgba(0, 0, 0, 0.877);
    border: 4px solid white;
    border-radius: 10px;
}

.menu__list_active a {
    border-bottom: 1px solid white;
}

.menu__list_active_myJob {
    top: 115px;
}

.menu__button_list {
    font-size: 25px;
    font-family: 'Gilroy Regular';
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.1em;
    color: rgb(251, 255, 218);
    text-shadow: 1px 0 1px rgb(0, 255, 255), 0 1px 1px rgb(0, 255, 255), -1px 0 1px rgb(0, 255, 255), 0 -1px 1px rgb(0, 255, 255);
}

/* Имя Фамилия */

.wrapper_header_content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_header_content span {
    font-size: 30px;
    letter-spacing: 0.05em;
}

.name {
    text-transform: uppercase;
    font-family: 'DIN Pro Bold';
    color: rgb(0, 0, 0);
    text-shadow: 1px 0 1px rgb(0, 255, 13), 0 1px 1px rgb(0, 255, 13), -1px 0 1px rgb(0, 255, 13), 0 -1px 1px rgb(0, 255, 13);
}

@media screen and (max-width:759px) {
    .wrapper_header_content span {
        font-size: 25px;
    }
}

@media screen and (max-width:642px) {
    .wrapper_header_content span {
        font-size: 16px;
    }
    .menu_hamburger_span {
        width: 27px;
        height: 2px;
        margin-top: 6px;
    }
    .menu_hamburger_active:nth-child(1) {
        transform: rotate( 45deg) translate(6px, 5px);
    }
}

@media screen and (max-width:425px) {
    .wrapper_header_content {
        flex-direction: column;
    }
    .wrapper_header_content span {
        font-size: 15px;
    }
}