* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'DIN Pro Regular';
  src: url('./assets/fonts/DINpro/DINPro.eot');
  src: url('./assets/fonts/DINpro/DINPro.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/DINpro/DINPro.woff') format('woff'), url('./assets/fonts/DINpro/DINPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Bold';
  src: url('./assets/fonts/DINproBold/DINPro-Bold.eot');
  src: url('./assets/fonts/DINproBold/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/DINproBold/DINPro-Bold.woff') format('woff'), url('./assets/fonts/DINproBold/DINPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('./assets/fonts/GilRoyLight/Gilroy-Light.eot');
  src: url('./assets/fonts/GilRoyLight/Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/GilRoyLight/Gilroy-Light.woff') format('woff'), url('./assets/fonts/GilRoyLight/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('./assets/fonts/GilRoyRegular/Gilroy-Regular.eot');
  src: url('./assets/fonts/GilRoyRegular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/GilRoyRegular/Gilroy-Regular.woff') format('woff'), url('./assets/fonts/GilRoyRegular/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('./assets/fonts/GilRoyExtraBold/Gilroy-ExtraBold.eot');
  src: url('./assets/fonts/GilRoyExtraBold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/GilRoyExtraBold/Gilroy-ExtraBold.woff') format('woff'), url('./assets/fonts/GilRoyExtraBold/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Regular';
  src: url('./assets/fonts/Circeregular/Circe-Regular.eot');
  src: url('./assets/fonts/Circeregular/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Circeregular/Circe-Regular.woff') format('woff'), url('./assets/fonts/Circeregular/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Circe Regular';
  font-family: 'DIN Pro Regular';
  font-family: 'DIN Pro Bold';
  font-family: 'Gilroy Light';
  font-family: 'Gilroy Extra Bold';
  font-family: 'Gilroy Regular';
  cursor: default;
}

button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-style: inherit;
  font-family: 'Gilroy Extra Bold';
}

.container {
  max-width: 1440px;
  margin: auto;
}

#aboutMe {
  position: absolute;
  top: -20vh;
}